* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 20;
}

.layout1 {
  width: 30vw;
  height: 100vh;
  background-color:rgb(253, 67, 0);
  z-index: 5;
  display: inline-block;
  clip-path: polygon(0 0, 100% 0, 95% 25%, 37% 60%, 0 75%)
}

.layout2 {
 position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(80deg, rgb(1, 17, 17), rgba(8, 122, 122, 0.541));
  display: inline-block;
}

.layout3 {
  position: absolute;
  width: 60vw;
  height: 100vh;
  background-image: linear-gradient(80deg, rgb(1, 17, 17), rgba(8, 122, 122, 0.541));
  display: inline;
  clip-path: polygon(0 0, 75% 0, 65% 100%, 0 100%, 0 75%)
}

.calc-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.calc-display {
  position: absolute;
  top: -8%;
  left: 50%;
  width: 25rem;
  transform: translate(-50%);
  padding: .8rem 0.4rem;
  background-color: rgb(16, 73, 73);
  border: 0;
  outline: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.2rem;
  color: #f7f7f7;
  text-align: end;
}

.calc-result {
  padding: 2rem 0.35rem;
  background-color: rgb(77, 131, 131);
  border: 0;
  outline: 0;
  font-size: 2rem;
  font-weight: 100;
  color: #f7f7f7;
  text-align: end;
}

.keypad {
  height: 70vh;
  width: 25.05rem;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: .7rem;
}

.btn {
  text-align: center;
  color: rgb(16, 73, 73);
  height: 5rem;
  width: 5rem;
  border-radius: 5.8rem;
  -webkit-border-radius: 5.8rem;
  -moz-border-radius: 5.8rem;
  -ms-border-radius: 5.8rem;
  -o-border-radius: 5.8rem;
  font-size: 2rem;
  outline: 0;
  border: 0;
  margin: 4px;
  transition: transform 1s ease-in;
  background-color: #f7f7f7;
  box-shadow: .2rem .2rem 3rem .2rem rgb(190, 190, 190);
  -webkit-transition: transform 1s ease-in;
  -moz-transition: transform 1s ease-in;
  -ms-transition: transform 1s ease-in;
  -o-transition: transform 1s ease-in;
}

.btn:hover {
  background-color: #b6b4b4;
}

.btn:active {
  transform: scale(-5);
  -webkit-transform: scale(-5);
  -moz-transform: scale(-5);
  -ms-transform: scale(-5);
  -o-transform: scale(-5);
}

.btn-gray {
  background-color: rgb(16, 73, 73);
  color: #f7f7f7; 
}

.btn-orange {
  background-color: rgba(255, 68, 0, 0.637);
  color: #f7f7f7; 
}